<div class="container-fluid plr_30 pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <label> Search</label>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <form [formGroup]="formApproval" (ngSubmit)="onSearchApproval(formApproval.value)">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input id="search-input" formControlName="search" placeholder=" Search"
                                        type="search" id="form" class="form-control"
                                        style="padding: 17.7px; width: 210px;" />
                                </div>
                                <button type="submit" class="btn btn-success ml-3">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div *ngIf="loading" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <table class="table table-hover ">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            New License
                                        </th>
                                        <th>
                                            Old License
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Created Date
                                        </th>
                                        <th>
                                            Approved Status
                                        </th>
                                        <th>
                                            Invoice
                                        </th>
                                        <th>
                                            Payment Proof
                                        </th>
                                        <th>
                                            Payment Reciept
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let approval of ApprovalList  | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index">
                                        <td>
                                           {{dateformat(approval.new_license_validity)}}
                                        </td>
                                        <td>
                                            {{dateformat(approval.old_license_validity)}}
                                        </td>
                                        <td>{{approval.created_by}}</td>

                                        <td>{{dateformat(approval.created_date)}} </td>

                                        <td>{{approval.approved_status}} </td>

                                        <td>
                                            <a href="{{approval.invoice}}" target="_blank" title="Invoice File">
                                                <i class='fas fa-receipt' style='font-size:20px; color: #00838fe0;'></i>    
                                            </a>
                                        </td>

                                        <td>
                                            <a href="{{approval.payment_proof}}" target="_blank" title="Invoice File">
                                                <i class='fas fa-credit-card' style='font-size:20px; color: #00838fe0;'></i>    
                                            </a>
                                        </td>

                                        <td>
                                            <a href="{{approval.payment_reciept}}" target="_blank" title="Invoice File">
                                                <i class='fas fa-receipt' style='font-size:20px; color: #00838fe0;'></i>    
                                            </a>
                                        </td>

                                        <td class="marg">
                                            <span class="mr-2 cursor" title="Approval"
                                                (click)="IsApprovalAlert(approval.id)">
                                                <img src="assets/img/sent-alert-action/approve.png" alt="">
                                            </span>
                                            <span class="mr-2 cursor" data-bs-toggle="modal" data-bs-target="#RejectedModal"
                                                title="Rejected" 
                                                (click)="IsRejectedAlert(approval.id)">
                                                <img src="assets/img/sent-alert-action/reject.png" alt="">
                                            </span>
                                            <!-- <span class="text-danger cursor" (click)="delete(approval.id)">
                                                <i class="far fa-trash-alt"></i>
                                            </span> -->
                                        </td>

                                    </tr>
                                    <tr *ngIf="ApprovalList.length === 0">
                                        No Record Found
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row" style="width: 100%">
                                <div class="col-md-10 text-right">
                                    <pagination-controls (pageChange)="onPageChange($event, '1')"></pagination-controls>
                                </div>
                                <div class="col-md-2">
                                    <select id="PerPage" class="form-control" (change)="onPageChange($event, '2')">
                                        <option *ngFor="let item of PageTotalNumber" [value]="item">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="RejectedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Rejection Message</h4>
                <button type="button" class="close text-white" data-bs-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formRejected" (ngSubmit)="OnRejectSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <label> Reason Of Rejection </label>
                            <div class="form-group">
                                <textarea class="form-control" name="" id="" rows="5" formControlName="message"
                                [ngClass]="{'error': submitted && myRejectedForm.message.errors}"></textarea>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && myRejectedForm.message.errors?.required">
                                    <sup>*</sup> Enter Rejection Message
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Cancel </button>
                        <button type="submit" class="btn btn-success"> Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>