<div class="container-fluid plr_30  pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">
                <div class="row mb-3">
                    <div class="col-md-7">
                        <form [formGroup]="form" (ngSubmit)="onSearch(form.value)">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input id="search-input" formControlName="search" placeholder="Search" type="search"
                                        id="form" class="form-control" style="padding: 17.7px; width: 210px;" />
                                </div>
                                <button type="submit" class="btn btn-success ml-3">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 text-right">
                        <button type="submit" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#LicenceModal">
                            Create Licence
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div *ngIf="loading" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- <img src="../../../../../../assets/images/loader.gif" *ngIf="loading"> -->
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            License Type
                                        </th>
                                        <th>
                                            License Start Date
                                        </th>
                                        <th>
                                            License End Date
                                        </th>
                                        <th>
                                            Created Date
                                        </th>
                                        <th>
                                            Updated Date
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                <tbody>
                                    <tr
                                        *ngFor="let license of LicenseList | paginate: {itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }; let i=index">
                                        <td>
                                            {{license.license_type}}
                                        </td>
                                        <td>
                                            {{dateformat(license.license_start_date)}}
                                        </td>
                                        <td>
                                            {{dateformat(license.license_end_date)}}
                                        </td>
                                        <td>
                                            {{dateformat(license.created_date)}}
                                        </td>
                                        <td>
                                            {{dateformat(license.updated_date)}}
                                        </td>
                                        <td>
                                            {{license.created_by}}
                                        </td>
                                        <td>
                                            <img src="/assets/img/dollar.png" alt="Payment Details"
                                                title="Payment Details" data-bs-toggle="modal"
                                                data-bs-target="#PaymentDetailsModal"
                                                (click)="IsPaymentDetails(license)" width="24" class="cursor"
                                                *ngIf="license.license_type === 'paid'">
                                        </td>
                                    </tr>
                                    <tr *ngIf="LicenseList.length === 0">
                                        No Record Found
                                    </tr>
                                </tbody>

                            </table>
                            <div class="row" style="width: 100%">
                                <div class="col-md-10 text-right">
                                    <pagination-controls (pageChange)="onPageChange($event, '1')">
                                    </pagination-controls>
                                </div>
                                <div class="col-md-2">
                                    <select id="PerPage" class="form-control" (change)="onPageChange($event, '2')">
                                        <option *ngFor="let item of PageTotalNumber" [value]="item">
                                            {{ item }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="LicenceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Licence </h4>
                <button type="button" class="close text-white" data-bs-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <app-update-licence [clientId]="clientId" (valueChange)='ValueChanged($event)'></app-update-licence>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="PaymentDetailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #f4f5f7;">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Payment Details </h4>
                <button type="button" class="close text-white" data-bs-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12 p-0">
                        <section style="background-color: #f4f5f7;">
                            <div class="container">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col col-lg-12 mb-4 mb-lg-0">
                                        <div class="card" style="border-radius: .5rem;">
                                            <div class="row g-0">
                                                <div class="col-md-12">
                                                    <div class="card-body p-4">
                                                        <h6>Information</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            <div class="col-12 mb-3">
                                                                <h6>License ID</h6>
                                                                <p style="color: green;">{{PaymentDetails?.license}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-1">
                                                            <div class="col-6 mb-3">
                                                                <h6>License Validity Start</h6>
                                                                <p style="color: green;">{{PaymentDetails?.old_license_validity}}</p>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>License Validity End</h6>
                                                                <p style="color: green;">{{PaymentDetails?.new_license_validity}}</p>
                                                            </div>
                                                            
                                                        </div>
                                                        <h6>Payment Documents</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            <div class="col-4 mb-3">
                                                                <h6>Invoice</h6>
                                                                <a href="{{PaymentDetails?.invoice}}" target="_blank"
                                                                    class="text-view">View</a>
                                                            </div>
                                                            <div class="col-4 mb-3">
                                                                <h6>Payment Proof</h6>
                                                                <a href="{{PaymentDetails?.payment_proof}}" target="_blank"
                                                                    class="text-view">View</a>
                                                            </div>
                                                            <div class="col-4 mb-3">
                                                                <h6>Payment Reciept</h6>
                                                                <a href="{{PaymentDetails?.payment_reciept}}" target="_blank"
                                                                    class="text-view">View</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>