<div class="wrapper">
    <nav id="sidebar">
        <ul id="sidebar_menu" class="metismenu sidebar_content">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class='fas fa-home icon_alert'></i>
                    <span class="dashboard_space">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" data-bs-toggle="collapse" href="#ui-alerts" aria-expanded="false"
                    aria-controls="ui-basic">
                    <i class='fas fa-exclamation-circle icon_alert'></i>
                    <span class="alert_space">Users</span>
                </a>
                <div class="collapse" id="ui-alerts">
                    <ul class="nav_content">
                        <li><a routerLink="/users" routerLinkActive="active"
                            [ngClass]="{'active': authService.TitleName === 'Create User'}"><i
                                    class='fas fa-caret-right image'></i>Create User
                            </a>
                        </li>
                        <li><a routerLink="/users/sent" routerLinkActive="active"
                            [ngClass]="{'active': authService.TitleName === 'Users List'}"><i
                                    class='fas fa-caret-right image'></i>User List</a></li>
                    </ul>
                </div>
            </li>
            
            <li>
                <a routerLink="/approval" routerLinkActive="active">
                    <i class='fas fa-file-signature icon_reports'></i>
                    <span class="approval_space">Approval</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
