<div class="container-fluid plr_30  pt_30">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="white_box mb_30">

                <div id="wrapper">
                    <div id="container">
                      
                      <div class="information-column">
                        <div class="content">
                          <img class="logo" src="assets/img/2b.png"/>
                  
                          <h1>Choose a subscribtion and start the ICT</h1>
                          <!-- <p>Find all your favorite tracks and create the bes</p> -->
                        </div>
                      </div>
                      
                      <div class="form-column">
                        
                        <div class="subscribtion free">
                            <h2>Free</h2>
                            <p>Only For 30 Days</p>
                        </div>
                  
                        <!-- <div class="subscribtion family">
                            <h2>Family</h2>
                            <p>Unlimited music for the whole family</p>
                        </div> -->
                  
                        <div class="subscribtion premium">
                            <h2>Premium</h2>
                            <p>1 Year Subscribtion</p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

